<h1>Конвертер</h1>

<div class="converter">
  <div id="convert-from">
    <div class="calc_title">У меня есть</div>
    <div class="converter-switcher items"></div>
    <div class="converter-switcher">
      <select class="list" name="list"></select>
    </div>
    <br>
    <div class="input">
      <input type="text" class="amount" value="0">
      <div class="helper">1 <div class="currensy-from float"></div> = <div class="counter-currensy-to float"></div> <div class="currensy-to float"></div></div>
    </div>
  </div>
  <div class="calc__center">
    <div class="calc__reverse"></div>
  </div>

  <div id="convert-to">
    <div class="calc_title">Хочу приобрести</div>
    <div class="converter-switcher items"></div>
    <div class="converter-switcher">
      <select class="list" name="list"></select>
    </div>
    <br>
    <div class="input">
      <input type="text" class="amount" readonly value="0">
      <div class="helper">1 <div class="currensy-from float"></div> = <div class="counter-currensy-to float"></div> <div class="currensy-to float"></div></div>
    </div>
  </div>
</div>
